[user]
    name = Lucas Saliés Brum
    email = lucas@archlinux.com.br
[url "https://git.archlinux.org/svntogit/packages.git --single-branch -b "]
    insteadOf = "pkg:"
[url "ssh://aur@aur.archlinux.org/"]
    insteadOf = "aur:"
[url "git@github.com:sistematico"]
    insteadOf = "gh:"
[url "git@gitlab.com:sistematico"]
    insteadOf = "gl:"
[alias]
	#$ git config --global alias.co checkout
	#$ git config --global alias.br branch
	#$ git config --global alias.ci commit
	#$ git config --global alias.st status
	co = checkout
    br = branch
    ci = commit
    st = status
