[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=/usr/bin/firefox-developer-edition "%s"
Icon=firefox-developer-edition
Name=firefox-developer-edition
X-XFCE-Commands=/usr/bin/firefox-developer-edition

