[Desktop Entry]
Type=Application
Name=JDownloader
Icon=jdownloader-beta
TryExec=JDownloader
Exec=JDownloader
Terminal=false
Categories=Application;Network;
StartupWMClass=Jdownloader
