[Desktop Entry]
Type=Application
Name=JDownloader
#Icon=jdownloader-beta
Icon=jdownloader
TryExec=JDownloader
Exec=JDownloader
Terminal=false
Categories=Application;Network;
StartupWMClass=JDownloader
Comment=
Path=
StartupNotify=false
