[Desktop Entry]
Type=Application
Version=1.0
Name=Porn-Time
Comment=
StartupWMClass=PornTime
Exec=/opt/porntime/PornTime
Icon=porntime
Terminal=false
Categories=AudioVideo;Audio;Video;Player;TV;

