[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/lt --port 80 --subdomain subdominio
ExecStop=/usr/bin/killall lt

[Install]
WantedBy=multi-user.target
