$light-color1: #fff;
$light-color2: #f6f6f6;
$light-color3: #eee;
$light-color4: #555;
$light-color5: #333;


$dark-color1: #333;
$dark-color2: #555;
$dark-color3: #555;
$dark-color4: #aaa;
$dark-color5: #999;
body {
    
    background-color: $light-color2;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    i{
        color: $light-color5;
    }
    .btn{
        color: #000;
        //background-color: $light-color5;
        border-color: $light-color5;
    }
    input{
        color: $light-color5;
    }

}
body.dark{
    background-color: $dark-color1;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    i{

        color: $dark-color4;
    }
    .btn{
        color: $dark-color4;
        //background-color: $dark-color4;
        border-color: $dark-color3;

    }
    input{
        color: $dark-color4;
        background-color: #777;
        border-color: #666;
    }
    input:hover{
        background-color: #7a7a7a;
    }
    input::-webkit-input-placeholder{
        color: $dark-color4;
    }
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    background-color: transparent;
    font-family: 'Ubuntu';
    text-decoration: none;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.btn:hover{
    background-color: rgba($color: #555, $alpha: 0.1);

}
.c{
    margin-top: 15%;
    text-align: center;
    
}
i.g{
    margin-bottom: 60px;
    font-size: 120px; 
}

/*
i:hover{
    
}
*/




div.bottom{
    position: fixed;
    bottom:0;
}
div#buttons{

    width: 300px;
    line-height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}
input.search{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 30px;
    padding: 15px;
    width: 60%;
    border-radius: 0px;
    border-style: none;
    border-bottom-style: solid; 
    border-width: 5px;
    
    border-color: #eee;
    margin-bottom: 5%;
    
}






